{% extends "layout.html" %}
{% block head %} 
	{{ super() }} 
{% endblock %}


{% block content %}
		<!-- Page Title
                    
		============================================= -->
		<a><img src="{{ url_for('static', filename='images/product/4/banner.jpg') }}"></a>


	</section><!-- #page-title end -->
	{% include 'sub_menu.html' %}

        


<!-- Content
		============================================= -->
		<section id="content">  
			<div class="content-wrap">
				<div class="container clearfix">

					<!-- Portfolio Items
					============================================= -->

					<div id="portfolio" class="portfolio row grid-container gutter-20" data-layout="fitRows">

						<!-- 1열  -->
						<!-- Portfolio Item: Start -->
						

                    </div>
				</div>
			</div>
		</section><!-- #content end -->

{% endblock%} 