{% extends "layout.html" %}




{% block content %} 

	<section>
		<!-- Page Title            
		============================================= -->
		<a><img src="{{ url_for('static', filename='images/product/1/banner.jpg') }}"></a>


	</section><!-- #page-title end -->
{% include 'sub_menu.html' %}
<!-- Content
		============================================= -->
		<section id="content">  
			<div class="content-wrap">

				<div class="container clearfix">

												<!-- * 카카오맵 - 지도퍼가기 -->
						<!-- 1. 지도 노드 -->
						<div id="daumRoughmapContainer1644940118408" class="root_daum_roughmap root_daum_roughmap_landing"></div>

						<!--
							2. 설치 스크립트
							* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
						-->
						<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

						<!-- 3. 실행 스크립트 -->
						<script charset="UTF-8">
							new daum.roughmap.Lander({
								"timestamp" : "1644940118408",
								"key" : "295xq",
								"mapWidth" : "640",
								"mapHeight" : "360"
							}).render();
						</script>
						<br>
						<div style="text-align:center;"><h4>서울특별시 성북구 보국문로16다길 4, 602호(정릉동, 솔샘리치빌) </h4> <p>TEL 070-7566-0935 | FAX 02-6455-0935</p></div>
						
				</div>
			</div>
		</section><!-- #content end -->


{% endblock%} 