
<!-- sub_menue block -->
		<!-- Page Sub Menu
		============================================= -->
		<div id="page-menu" class="no-sticky">
			<div id="page-menu-wrap">
				<div class="container">
					<div class="page-menu-row">
{% if url_parts=='product' %}
					<div class="page-menu-title">제품 <span>소개</span></div>

						<nav class="page-menu-nav">
							<ul class="page-menu-container">
								<li class="page-menu-item"><a href="/product/no_person"><div>무인택배보관함</div></a></li>
								<li class="page-menu-item"><a href="/product/plastic"><div>강화플라스틱보관함</div></a></li>
								<li class="page-menu-item"><a href="/product/iLock"><div>아이락보관함</div></a></li>
								<li class="page-menu-item"><a href="/product/leisure"><div>레저보관함</div></a></li>
								<li class="page-menu-item"><a href="/product/electronic"><div>전자식보관함</div></a></li>
								<li class="page-menu-item"><a href="/product/digital"><div>디지털보관함</div></a></li>
                                <li class="page-menu-item"><a href="/product/ect"><div>기타제품</div></a></li>
                                <li class="page-menu-item"><a href="/product/lock_system"><div>잠금장치</div></a></li>
							</ul>
						</nav>

						<div id="page-menu-trigger"><i class="icon-reorder"></i></div>
{% elif url_parts=='case' %}
						<div class="page-menu-title">설치 <span>사례</span></div>

						<nav class="page-menu-nav">
							<ul class="page-menu-container">
								<li class="page-menu-item"><a href="/case/no_person"><div>무인택배보관함</div></a></li>
								<li class="page-menu-item"><a href="/case/plastic"><div>강화플라스틱보관함</div></a></li>
								<li class="page-menu-item"><a href="/case/iLock"><div>아이락보관함</div></a></li>
								<li class="page-menu-item"><a href="/case/leisure"><div>레저보관함</div></a></li>
								<li class="page-menu-item"><a href="/case/electronic"><div>전자식보관함</div></a></li>
								<li class="page-menu-item"><a href="/case/digital"><div>디지털보관함</div></a></li>
                                <li class="page-menu-item"><a href="/case/ect"><div>기타제품</div></a></li>
                                <li class="page-menu-item"><a href="/case/lock_system"><div>잠금장치</div></a></li>
							</ul>
						</nav>

						<div id="page-menu-trigger"><i class="icon-reorder"></i></div>
{% elif url_parts=='company' %}
						<div class="page-menu-title">회사 <span>소개</span></div>

						<nav class="page-menu-nav">
							<ul class="page-menu-container">
								<li class="page-menu-item"><a href="/company/introduction"><div>인사말</div></a></li>
								<li class="page-menu-item"><a href="/company/map"><div>오시는 길</div></a></li>
							</ul>
						</nav>

						<div id="page-menu-trigger"><i class="icon-reorder"></i></div>
{% endif %}
                    </div>
				</div>
			</div>
		</div><!-- #page-menu end -->

